@import "tailwindcss";

@theme {
  --color-champagne: #d4af37;
  --color-sage: #b2ac88;
  --color-cream: #fffdd0;
  --font-playfair: var(--font-playfair);
  --font-montserrat: var(--font-montserrat);
}

body {
  background-color: var(--color-cream);
  color: #333333;
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}
